<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatiible" content="IE=edge" />
    <meta
      name="author"
      content="Fakhri Rossi, Rafly Firmansyah, Syahrul Ramadhan"
    />
    <meta
      name="description"
      content="libly, daftar lirik musik indonesia, daftar lirik musik top, daftar musik terkenal."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Library - Lyric</title>
    <link href="../../public/css/style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container-sm">
        <nav class="navbar">
          <div class="nav-logo">
            <h2 class="logo">libly.</h2>
          </div>
          <ul class="nav-menu">
            <a href="#" class="nav-link active">Trending</a>
            <a href="#" class="nav-link">Premium</a>
            <a href="#" class="nav-link">Library</a>
            <a href="#" class="nav-link">Blog</a>
            <div class="nav-action">
              <a href="#" class="nav-link btn">
                <i class="bx bxs-download"></i>
                <span>Get libly. Apps</span>
              </a>
              <a href="#" class="nav-link btn btn-outline">Sign in</a>
            </div>
            <!-- <div class="toggle">
          <i class="bx bx-sun"></i>
        </div> -->
          </ul>

          <div class="menu-toggle">
            <div class="icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </nav>
      </div>
      <div class="sidebar">
        <div class="container-sm">
          <ul class="sidebar-menu">
            <a href="#" class="sidebar-link">Trending</a>
            <a href="#" class="sidebar-link">Premium</a>
            <a href="#" class="sidebar-link">Library</a>
            <a href="#" class="sidebar-link">Blog</a>
          </ul>
          <div class="sidebar-menu footer">
            <a href="#" class="sidebar-link">
              <i class="bx bxs-download"></i>
              <span>Get libly. Apps</span>
            </a>
            <a href="#" class="sidebar-link btn-outline">Sign In</a>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container-sm">
        <div class="detail-article">
          <div class="breadcrumbs">
            <li><a href="../../index.html">Home /</a></li>
            <li><a href="#">Blog</a> /</li>
            <li>10 Musik POP Indonesia 2022/</li>
          </div>

          <article>
            <div class="article-img">
              <img
                src="../../public/img/thumbnail/article-2.png"
                alt="article-img"
              />
            </div>

            <div class="article-detail">
              <div class="article-head">
                <h1>10 Musik POP Indonesia 2022</h1>
                <span>Rafly Firmansyah • category • 09/05/2024</span>
              </div>
              <div class="article-content">
                <p>
                  Tahun 2022 telah menjadi tahun yang menarik bagi industri
                  musik pop, di mana para seniman dan musisi telah menghadirkan
                  karya-karya yang memukau dan menginspirasi. Dalam artikel ini,
                  kita akan menjelajahi sepuluh lagu pop terkenal yang telah
                  mengambil alih tangga lagu dan memenangkan hati pendengar di
                  seluruh dunia.
                </p>
                <ul style="list-style: none">
                  <li>
                    <p>
                      1. "Butter" - BTS "Butter" merupakan lagu yang diproduksi
                      oleh grup pop asal Korea Selatan, BTS. Dengan ritme yang
                      menawan dan lirik yang ceria, lagu ini berhasil menduduki
                      puncak tangga lagu di berbagai negara dan menjadi salah
                      satu lagu pop terbesar tahun ini.
                    </p>
                  </li>
                  <li>
                    <p>
                      2. "Good 4 U" - Olivia Rodrigo Dari album debutnya yang
                      sangat sukses, "SOUR", "Good 4 U" oleh Olivia Rodrigo
                      telah menjadi anthem bagi generasi muda. Dengan energi
                      yang kuat dan lirik yang tajam, lagu ini telah mendominasi
                      tangga lagu pop selama berbulan-bulan
                    </p>
                  </li>
                  <li>
                    <p>
                      3. "Stay" - The Kid LAROI & Justin Bieber "Stay" adalah
                      kolaborasi yang sukses antara The Kid LAROI dan Justin
                      Bieber. Dengan melodi yang adiktif dan lirik yang
                      emosional, lagu ini telah meraih popularitas besar dan
                      menjadi salah satu lagu pop paling didengar tahun ini.
                    </p>
                  </li>
                  <li>
                    <p>
                      4. "Montero (Call Me By Your Name)" - Lil Nas X Dengan
                      gaya yang provokatif dan lirik yang kontroversial,
                      "Montero (Call Me By Your Name)" oleh Lil Nas X telah
                      menarik perhatian dunia. Lagu ini tidak hanya mendapat
                      tanggapan positif dari kritikus musik, tetapi juga menjadi
                      hit besar di tangga lagu pop.
                    </p>
                  </li>
                  <li>
                    <p>
                      5. "Peaches" - Justin Bieber ft. Daniel Caesar & Giveon
                      "Peaches" adalah lagu lain dari Justin Bieber yang telah
                      menarik banyak perhatian tahun ini. Dengan kolaborasi yang
                      kuat dengan Daniel Caesar dan Giveon, lagu ini memiliki
                      melodi yang adiktif dan lirik yang menggoda.
                    </p>
                  </li>
                  <li>
                    <p>
                      6. "Pura Pura Lupa" - Mahen "Pura Pura Lupa" oleh Mahen
                      adalah lagu yang telah mendapat banyak pengakuan tahun
                      ini. Dengan tema yang menyentuh dan vokal yang emosional,
                      lagu ini telah menjadi salah satu lagu pop terkenal di
                      Indonesia.
                    </p>
                  </li>
                  <li>
                    <p>
                      7. "Tak Bisa Bersama" - Vidi Aldiano "Tak Bisa Bersama"
                      oleh Vidi Aldiano adalah lagu pop lainnya yang telah
                      mencuri perhatian tahun ini. Dengan vokal yang merdu dan
                      melodi yang menyentuh, lagu ini telah menjadi pilihan
                      banyak pendengar musik di Indonesia.
                    </p>
                  </li>
                  <li>
                    <p>
                      8. "Rumah Kita" - Geisha "Rumah Kita" oleh Geisha adalah
                      lagu lain yang telah meraih popularitas besar di Indonesia
                      tahun ini. Dengan lirik yang menggugah dan melodi yang
                      menghanyutkan, lagu ini telah menjadi favorit di antara
                      pendengar musik pop.
                    </p>
                  </li>
                  <li>
                    <p>
                      9. "Industry Baby" - Lil Nas X ft. Jack Harlow "Industry
                      Baby" adalah lagu lain dari Lil Nas X yang telah mencuri
                      perhatian tahun ini. Dengan vokal yang percaya diri dan
                      lirik yang kuat, lagu ini menampilkan kolaborasi yang kuat
                      dengan Jack Harlow dan telah menjadi hit besar di tangga
                      lagu pop.
                    </p>
                  </li>
                  <li>
                    <p>
                      10. "Deja Vu" - Olivia Rodrigo "Deja Vu" merupakan salah
                      satu lagu lain dari album "SOUR" oleh Olivia Rodrigo yang
                      telah mencuri perhatian. Dengan lirik yang jujur dan
                      melodi yang memikat, lagu ini telah menjadi favorit di
                      antara penggemar musik pop.
                    </p>
                  </li>
                </ul>
                <p>
                  Dari lagu-lagu yang mengeksplorasi cinta dan kehidupan hingga
                  lagu-lagu yang mengeksplorasi tema-tema lebih dalam, musik pop
                  tahun 2022 telah menawarkan berbagai nuansa dan cerita yang
                  menarik. Dengan kesuksesan lagu-lagu ini, kita dapat melihat
                  bagaimana musik terus menjadi kekuatan yang menginspirasi dan
                  menghibur di tengah-tengah tantangan global yang sedang
                  berlangsung.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer>
      <div class="container-sm">
        <div class="footer">
          <div class="logo">libly.</div>
          <div class="footer-menu">
            <ul class="list-menu">
              <h4>Companny</h4>
              <div class="list-link">
                <a href="#" class="footer-link">About libly</a>
                <a href="#" class="footer-link">Our Teams</a>
                <a href="#" class="footer-link">Careers</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Community</h4>
              <div class="list-link">
                <a href="#" class="footer-link">For Artist</a>
                <a href="#" class="footer-link">Music Producer</a>
                <a href="#" class="footer-link">Marketing Ads</a>
                <a href="#" class="footer-link">Investor</a>
                <a href="#" class="footer-link">Vendor</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Our Partners</h4>
              <div class="list-link">
                <a href="#" class="footer-link">Spotify</a>
                <a href="#" class="footer-link">Youtube Music</a>
                <a href="#" class="footer-link">JOOX</a>
                <a href="#" class="footer-link">Sound Cloud</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Premium Package</h4>
              <div class="list-link">
                <a href="#" class="footer-link">Personal</a>
                <a href="#" class="footer-link">Couple</a>
                <a href="#" class="footer-link">Family</a>
                <a href="#" class="footer-link">Student</a>
              </div>
            </ul>
          </div>
          <div class="footer-social-link">
            <a href="#" class="social-link">
              <i class="bx bxl-instagram"></i>
            </a>
            <a href="#" class="social-link">
              <i class="bx bxl-twitter"></i>
            </a>
            <a href="#" class="social-link">
              <i class="bx bxl-facebook"></i>
            </a>
          </div>
        </div>
        <div class="footer-copy">
          <i class="bx bx-copyright"></i>
          <span>Copyright libly 2024 • Tugas KUIS PTI </span>
        </div>
      </div>
    </footer>
  </body>

  <script src="/js/dom.js"></script>
</html>
