<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatiible" content="IE=edge" />
    <meta
      name="author"
      content="Fakhri Rossi, Rafly Firmansyah, Syahrul Ramadhan"
    />
    <meta
      name="description"
      content="libly, daftar lirik musik indonesia, daftar lirik musik top, daftar musik terkenal."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Library - Lyric</title>
    <link href="../../public/css/style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container-sm">
        <nav class="navbar">
          <div class="nav-logo">
            <h2 class="logo">libly.</h2>
          </div>
          <ul class="nav-menu">
            <a href="#" class="nav-link active">Trending</a>
            <a href="#" class="nav-link">Premium</a>
            <a href="#" class="nav-link">Library</a>
            <a href="#" class="nav-link">Blog</a>
            <div class="nav-action">
              <a href="#" class="nav-link btn">
                <i class="bx bxs-download"></i>
                <span>Get libly. Apps</span>
              </a>
              <a href="#" class="nav-link btn btn-outline">Sign in</a>
            </div>
            <!-- <div class="toggle">
          <i class="bx bx-sun"></i>
        </div> -->
          </ul>

          <div class="menu-toggle">
            <div class="icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </nav>
      </div>
      <div class="sidebar">
        <div class="container-sm">
          <ul class="sidebar-menu">
            <a href="#" class="sidebar-link">Trending</a>
            <a href="#" class="sidebar-link">Premium</a>
            <a href="#" class="sidebar-link">Library</a>
            <a href="#" class="sidebar-link">Blog</a>
          </ul>
          <div class="sidebar-menu footer">
            <a href="#" class="sidebar-link">
              <i class="bx bxs-download"></i>
              <span>Get libly. Apps</span>
            </a>
            <a href="#" class="sidebar-link btn-outline">Sign In</a>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container-sm">
        <div class="detail-article">
          <div class="breadcrumbs">
            <li><a href="../../index.html">Home /</a></li>
            <li><a href="#">Blog</a> /</li>
            <li>Manfaat Mendengarkan Musik/</li>
          </div>

          <article>
            <div class="article-img">
              <img
                src="https://img.freepik.com/free-photo/front-view-female-musician-playing-acoustic-guitar-home_23-2148890841.jpg?t=st=1715266796~exp=1715270396~hmac=2ded6b6ccae08ff77ecd001ccc1c286d76810f96a0ec6db83dc029415aefc21b&w=740"
                alt="article-img"
              />
            </div>

            <div class="article-detail">
              <div class="article-head">
                <h1>Manfaat Mendengarkan Musik</h1>
                <span>Syahrul Ramadhan • 09/05/2024</span>
              </div>
              <div class="article-content">
                <p>
                  Dalam kehidupan yang serba cepat dan penuh tekanan,
                  mendengarkan musik slow dapat menjadi salah satu cara terbaik
                  untuk menenangkan pikiran dan meredakan stres. Dalam artikel
                  ini, kita akan mengeksplorasi beberapa manfaat mendengarkan
                  musik slow dan bagaimana hal tersebut dapat memengaruhi
                  kesejahteraan kita secara keseluruhan.
                </p>
                <p>
                  (1.) Meredakan Stres dan Kecemasan Salah satu manfaat utama
                  dari mendengarkan musik slow adalah kemampuannya untuk
                  meredakan stres dan kecemasan. Ritme yang tenang dan melodi
                  yang lembut dapat membantu menenangkan pikiran dan mengurangi
                  tingkat kegelisahan yang mungkin kita rasakan setelah hari
                  yang sibuk. (2) Meningkatkan Fokus dan Konsentrasi
                  Mendengarkan musik slow juga dapat membantu meningkatkan fokus
                  dan konsentrasi kita. Dengan merangsang otak secara perlahan,
                  musik slow dapat membantu kita memasuki keadaan pikiran yang
                  lebih tenang dan fokus, yang dapat meningkatkan produktivitas
                  dan efisiensi dalam melakukan tugas-tugas sehari-hari. (3)
                  Memperbaiki Kualitas Tidur Musik slow juga telah terbukti
                  bermanfaat dalam meningkatkan kualitas tidur. Mendengarkan
                  musik dengan tempo yang rendah dan melodi yang menenangkan
                  dapat membantu merilekskan tubuh dan pikiran, yang membuat
                  kita lebih mudah untuk tidur nyenyak dan mendapatkan istirahat
                  yang berkualitas. (4) Meningkatkan Kesejahteraan Emosional,
                  Mendengarkan musik slow juga dapat membantu meningkatkan
                  kesejahteraan emosional kita. Melodi yang lembut dan lirik
                  yang menyentuh dapat menginspirasi perasaan kedamaian dan
                  kebahagiaan dalam diri kita, serta membantu kita mengatasi
                  perasaan sedih atau kesepian yang mungkin kita rasakan.
                </p>
                <p>
                  Terakhir, mendengarkan musik slow juga dapat memfasilitasi
                  koneksi sosial. Berbagi musik dengan orang lain dan
                  mendengarkannya bersama dapat menjadi pengalaman yang
                  mempererat hubungan kita dengan teman dan keluarga, serta
                  memberi kita kesempatan untuk berbagi momen yang berarti
                  bersama. Dengan demikian, mendengarkan musik slow bukan hanya
                  tentang menikmati bunyi yang indah, tetapi juga tentang
                  menemukan ketenangan dalam diri kita dan meningkatkan
                  kesejahteraan kita secara keseluruhan. Jadi, jangan ragu untuk
                  meresapi keindahan musik slow dan biarkan aliran melodi yang
                  tenang membawa Anda ke dalam suasana yang damai dan
                  menyenangkan.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer>
      <div class="container-sm">
        <div class="footer">
          <div class="logo">libly.</div>
          <div class="footer-menu">
            <ul class="list-menu">
              <h4>Companny</h4>
              <div class="list-link">
                <a href="#" class="footer-link">About libly</a>
                <a href="#" class="footer-link">Our Teams</a>
                <a href="#" class="footer-link">Careers</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Community</h4>
              <div class="list-link">
                <a href="#" class="footer-link">For Artist</a>
                <a href="#" class="footer-link">Music Producer</a>
                <a href="#" class="footer-link">Marketing Ads</a>
                <a href="#" class="footer-link">Investor</a>
                <a href="#" class="footer-link">Vendor</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Our Partners</h4>
              <div class="list-link">
                <a href="#" class="footer-link">Spotify</a>
                <a href="#" class="footer-link">Youtube Music</a>
                <a href="#" class="footer-link">JOOX</a>
                <a href="#" class="footer-link">Sound Cloud</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Premium Package</h4>
              <div class="list-link">
                <a href="#" class="footer-link">Personal</a>
                <a href="#" class="footer-link">Couple</a>
                <a href="#" class="footer-link">Family</a>
                <a href="#" class="footer-link">Student</a>
              </div>
            </ul>
          </div>
          <div class="footer-social-link">
            <a href="#" class="social-link">
              <i class="bx bxl-instagram"></i>
            </a>
            <a href="#" class="social-link">
              <i class="bx bxl-twitter"></i>
            </a>
            <a href="#" class="social-link">
              <i class="bx bxl-facebook"></i>
            </a>
          </div>
        </div>
        <div class="footer-copy">
          <i class="bx bx-copyright"></i>
          <span>Copyright libly 2024 • Tugas KUIS PTI </span>
        </div>
      </div>
    </footer>
  </body>

  <script src="/js/dom.js"></script>
</html>
