<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatiible" content="IE=edge" />
    <meta
      name="author"
      content="Fakhri Rossi, Rafly Firmansyah, Syahrul Ramadhan"
    />
    <meta
      name="description"
      content="libly, daftar lirik musik indonesia, daftar lirik musik top, daftar musik terkenal."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Library - Lyric</title>
    <link href="../../public/css/style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container-sm">
        <nav class="navbar">
          <div class="nav-logo">
            <h2 class="logo">libly.</h2>
          </div>
          <ul class="nav-menu">
            <a href="#" class="nav-link active">Trending</a>
            <a href="#" class="nav-link">Premium</a>
            <a href="#" class="nav-link">Library</a>
            <a href="#" class="nav-link">Blog</a>
            <div class="nav-action">
              <a href="#" class="nav-link btn">
                <i class="bx bxs-download"></i>
                <span>Get libly. Apps</span>
              </a>
              <a href="#" class="nav-link btn btn-outline">Sign in</a>
            </div>
            <!-- <div class="toggle">
          <i class="bx bx-sun"></i>
        </div> -->
          </ul>

          <div class="menu-toggle">
            <div class="icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </nav>
      </div>
      <div class="sidebar">
        <div class="container-sm">
          <ul class="sidebar-menu">
            <a href="#" class="sidebar-link">Trending</a>
            <a href="#" class="sidebar-link">Premium</a>
            <a href="#" class="sidebar-link">Library</a>
            <a href="#" class="sidebar-link">Blog</a>
          </ul>
          <div class="sidebar-menu footer">
            <a href="#" class="sidebar-link">
              <i class="bx bxs-download"></i>
              <span>Get libly. Apps</span>
            </a>
            <a href="#" class="sidebar-link btn-outline">Sign In</a>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container-sm">
        <div class="detail-article">
          <div class="breadcrumbs">
            <li><a href="../../index.html">Home /</a></li>
            <li><a href="#">Blog</a> /</li>
            <li>Manfaat Mendengarkan Musik/</li>
          </div>

          <article>
            <div class="article-img">
              <img
                src="https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="article-img"
              />
            </div>

            <div class="article-detail">
              <div class="article-head">
                <h1>Pengaruh Musik terhadap Kesehatan Mental dan Emosional</h1>
                <span>Syahrul Ramadhan • 09/05/2024</span>
              </div>
              <div class="article-content">
                <p>
                  Musik telah menjadi bagian integral dalam kehidupan manusia sejak zaman kuno,
                  memberikan hiburan, ungkapan seni, dan bahkan memiliki dampak yang signifikan
                  pada kesehatan mental dan emosional. Berbagai penelitian telah menyoroti peran musik 
                  dalam mengurangi stres, meningkatkan suasana hati, dan bahkan membantu dalam proses 
                  penyembuhan trauma.
                </p>
                <p>
                  Salah satu cara di mana musik memengaruhi kesehatan mental adalah melalui aktivasi berbagai 
                  bagian otak yang terlibat dalam pengolahan emosi. Ketika seseorang mendengarkan musik yang disukai, 
                  otak melepaskan neurotransmitter seperti dopamin, yang memicu perasaan bahagia dan kenyamanan. Ini 
                  dapat memberikan efek menenangkan dan mengurangi tingkat kecemasan serta depresi.
                  Selain itu, musik juga dapat menjadi alat yang efektif dalam mengelola stres. Mendengarkan musik 
                  yang menenangkan atau mengikuti irama yang cocok dengan keadaan emosi seseorang dapat mengurangi 
                  kadar hormon stres dalam tubuh. Hal ini dapat membantu seseorang untuk merasa lebih rileks dan 
                  terhindar dari efek negatif stres yang berkepanjangan.
                  Musik juga memiliki kemampuan untuk membangkitkan kenangan dan emosi yang terkait 
                  dengan masa lalu. Dengarkan lagu yang membawa kenangan bahagia atau menghadirkan 
                  nostalgia dapat meningkatkan suasana hati dan memberikan dorongan emosional yang 
                  positif. Di sisi lain, musik juga dapat menjadi alat untuk merayakan kesedihan 
                  atau rasa kehilangan, membantu individu untuk mengungkapkan dan memproses emosi 
                  mereka secara lebih baik.
                </p>
                <p>
                  Dengan demikian, penting bagi kita untuk mengakui peran musik dalam menjaga 
                  kesehatan mental dan emosional kita. Mulai dari mendengarkan lagu favorit saat 
                  merasa tertekan hingga menggunakan musik sebagai bentuk terapi, memanfaatkan 
                  kekuatan musik dapat memberikan manfaat yang signifikan bagi kesejahteraan kita 
                  secara keseluruhan.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer>
      <div class="container-sm">
        <div class="footer">
          <div class="logo">libly.</div>
          <div class="footer-menu">
            <ul class="list-menu">
              <h4>Companny</h4>
              <div class="list-link">
                <a href="#" class="footer-link">About libly</a>
                <a href="#" class="footer-link">Our Teams</a>
                <a href="#" class="footer-link">Careers</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Community</h4>
              <div class="list-link">
                <a href="#" class="footer-link">For Artist</a>
                <a href="#" class="footer-link">Music Producer</a>
                <a href="#" class="footer-link">Marketing Ads</a>
                <a href="#" class="footer-link">Investor</a>
                <a href="#" class="footer-link">Vendor</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Our Partners</h4>
              <div class="list-link">
                <a href="#" class="footer-link">Spotify</a>
                <a href="#" class="footer-link">Youtube Music</a>
                <a href="#" class="footer-link">JOOX</a>
                <a href="#" class="footer-link">Sound Cloud</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Premium Package</h4>
              <div class="list-link">
                <a href="#" class="footer-link">Personal</a>
                <a href="#" class="footer-link">Couple</a>
                <a href="#" class="footer-link">Family</a>
                <a href="#" class="footer-link">Student</a>
              </div>
            </ul>
          </div>
          <div class="footer-social-link">
            <a href="#" class="social-link">
              <i class="bx bxl-instagram"></i>
            </a>
            <a href="#" class="social-link">
              <i class="bx bxl-twitter"></i>
            </a>
            <a href="#" class="social-link">
              <i class="bx bxl-facebook"></i>
            </a>
          </div>
        </div>
        <div class="footer-copy">
          <i class="bx bx-copyright"></i>
          <span>Copyright libly 2024 • Tugas KUIS PTI </span>
        </div>
      </div>
    </footer>
  </body>

  <script src="/js/dom.js"></script>
</html>
