<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatiible" content="IE=edge" />
    <meta
      name="author"
      content="Fakhri Rossi, Rafly Firmansyah, Syahrul Ramadhan"
    />
    <meta
      name="description"
      content="libly, daftar lirik musik indonesia, daftar lirik musik top, daftar musik terkenal."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Library - Lyric</title>
    <link href="../../public/css/style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container-sm">
        <nav class="navbar">
          <div class="nav-logo">
            <h2 class="logo">libly.</h2>
          </div>
          <ul class="nav-menu">
            <a href="#" class="nav-link active">Trending</a>
            <a href="#" class="nav-link">Premium</a>
            <a href="#" class="nav-link">Library</a>
            <a href="#" class="nav-link">Blog</a>
            <div class="nav-action">
              <a href="#" class="nav-link btn">
                <i class="bx bxs-download"></i>
                <span>Get libly. Apps</span>
              </a>
              <a href="#" class="nav-link btn btn-outline">Sign in</a>
            </div>
            <!-- <div class="toggle">
          <i class="bx bx-sun"></i>
        </div> -->
          </ul>

          <div class="menu-toggle">
            <div class="icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </nav>
      </div>
      <div class="sidebar">
        <div class="container-sm">
          <ul class="sidebar-menu">
            <a href="#" class="sidebar-link">Trending</a>
            <a href="#" class="sidebar-link">Premium</a>
            <a href="#" class="sidebar-link">Library</a>
            <a href="#" class="sidebar-link">Blog</a>
          </ul>
          <div class="sidebar-menu footer">
            <a href="#" class="sidebar-link">
              <i class="bx bxs-download"></i>
              <span>Get libly. Apps</span>
            </a>
            <a href="#" class="sidebar-link btn-outline">Sign In</a>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container-sm">
        <div class="detail-article">
          <div class="breadcrumbs">
            <li><a href="../../index.html">Home /</a></li>
            <li><a href="#">Blog</a> /</li>
            <li>Manfaat Mendengarkan Musik/</li>
          </div>

          <article>
            <div class="article-img">
              <img
                src="https://images.unsplash.com/photo-1513346940221-6f673d962e97?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="article-img"
              />
            </div>

            <div class="article-detail">
              <div class="article-head">
                <h1>Mengapa Kita Suka Lagu-Lagu Nostalgia?</h1>
                <span>Syahrul Ramadhan • 09/05/2024</span>
              </div>
              <div class="article-content">
                <p>
                  Fenomena mengapa lagu-lagu dari masa lalu sering kali menghadirkan 
                  perasaan nostalgia yang kuat adalah kajian yang menarik dari sudut 
                  pandang psikologis dan neurologis. Salah satu faktor utama adalah 
                  koneksi emosional yang dibangun antara musik dan pengalaman hidup kita. 
                  Ketika kita mendengarkan lagu-lagu yang pernah kita dengar di masa lalu, 
                  itu dapat memicu kenangan yang terkait dengan momen-momen penting dalam 
                  hidup kita, baik itu kebahagiaan, kesedihan, atau kejadian lain yang berkesan.
                </p>
                <p>
                  Secara neurologis, otak kita memiliki kemampuan untuk menyimpan ingatan 
                  dengan sangat rinci, terutama ketika disertai dengan pengalaman emosional 
                  yang kuat. Musik memiliki kekuatan untuk mengaktifkan daerah otak yang 
                  terkait dengan memori dan emosi, seperti hipokampus dan amigdala. 
                  Ketika lagu-lagu nostalgia diputar, otak kita merespons dengan melepaskan 
                  neurotransmitter yang memicu perasaan nostalgia, membuat kita merasa seperti 
                  kembali ke masa lalu.
                </p>
                <p>
                  Selain itu, nostalgia musik juga memiliki peran penting dalam membentuk 
                  identitas kita. Lagu-lagu yang kita dengar saat masa remaja atau masa-masa 
                  penting lainnya dapat menjadi bagian dari identitas kita yang terus berkembang. 
                  Mereka mencerminkan siapa kita pada waktu itu dan membawa kembali kenangan yang 
                  membentuk siapa kita sekarang. Dengan mendengarkan lagu-lagu nostalgia, 
                  kita tidak hanya mengingat masa lalu, tetapi juga merenungkan perjalanan kita dan 
                  bagaimana musik telah menjadi bagian integral dari perjalanan itu.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- Footer Section -->
    <footer>
      <div class="container-sm">
        <div class="footer">
          <div class="logo">libly.</div>
          <div class="footer-menu">
            <ul class="list-menu">
              <h4>Companny</h4>
              <div class="list-link">
                <a href="#" class="footer-link">About libly</a>
                <a href="#" class="footer-link">Our Teams</a>
                <a href="#" class="footer-link">Careers</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Community</h4>
              <div class="list-link">
                <a href="#" class="footer-link">For Artist</a>
                <a href="#" class="footer-link">Music Producer</a>
                <a href="#" class="footer-link">Marketing Ads</a>
                <a href="#" class="footer-link">Investor</a>
                <a href="#" class="footer-link">Vendor</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Our Partners</h4>
              <div class="list-link">
                <a href="#" class="footer-link">Spotify</a>
                <a href="#" class="footer-link">Youtube Music</a>
                <a href="#" class="footer-link">JOOX</a>
                <a href="#" class="footer-link">Sound Cloud</a>
              </div>
            </ul>
            <ul class="list-menu">
              <h4>Premium Package</h4>
              <div class="list-link">
                <a href="#" class="footer-link">Personal</a>
                <a href="#" class="footer-link">Couple</a>
                <a href="#" class="footer-link">Family</a>
                <a href="#" class="footer-link">Student</a>
              </div>
            </ul>
          </div>
          <div class="footer-social-link">
            <a href="#" class="social-link">
              <i class="bx bxl-instagram"></i>
            </a>
            <a href="#" class="social-link">
              <i class="bx bxl-twitter"></i>
            </a>
            <a href="#" class="social-link">
              <i class="bx bxl-facebook"></i>
            </a>
          </div>
        </div>
        <div class="footer-copy">
          <i class="bx bx-copyright"></i>
          <span>Copyright libly 2024 • Tugas KUIS PTI </span>
        </div>
      </div>
    </footer>
  </body>

  <script src="/js/dom.js"></script>
</html>
